@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:wght@400;600&display=swap');

@mixin Roboto($fs,$fw,$lh){
    font-family: 'Roboto', 'serif';
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}